@use "../utils/helpers" as *;

.footer {
  @extend %d-flex-column;
  @extend %d-flex-centered;
  @include py(32px);
  gap: 32px 0;

  @media #{$breakpoint-up-lg} {
    padding-top: 56px;
  }
}

.footer__copyright {
  font-size: var(--font-size-xs);
}
