@use "../utils/helpers" as *;

.section {
  @media #{$breakpoint-up-md} {
    @include py(32px);
    min-height: 100vh;
    display: grid;
    gap: 32px;
  }

  &.section_type_row {
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "wrapper aside";
  }

  &.section_reversed {
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "aside wrapper";
  }

  &.section_type_cols {
    grid-template-columns: repeat(3,1fr);
  }

  &.section_type_grid {
    grid-template-areas:
      "aside title top"
      "aside title top"
      "bottom bottom top";

    .section__aside {
      grid-area: title;
    }

    .section__col_type_aside {
      grid-area: aside;
    }

    .section__col_type_top {
      grid-area: top;
    }

    .section__col_type_bottom {
      grid-area: bottom;
    }
  }
}

.section__col {
  height: 100vh;
  overflow: hidden;

  @media #{$breakpoint-up-md} {
    height: auto;
  }
}

.section__wrapper {
  @extend %d-flex-column;
  @extend %d-flex-centered;
  height: 100vh;
  overflow: hidden;

  @media #{$breakpoint-up-md} {
    height: auto;
    grid-area: wrapper;
  }
}

.section__aside {
  @include before;
  display: none;
  font-size: var(--font-size-xxl);
  transform: scale3d(0,0,1);
  transition: all .5s ease .1s;

  @media #{$breakpoint-up-md} {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-area: aside;
  }

  &.section__aside_type_title {
    grid-area: unset;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  &:before {
    @include wh(100%);
    @include pos(8px,-12px);
    @include border(4px,var(--color-light-blue));
    z-index: 1;
  }
}

.is-visible {
  .section__aside {
    transform: scale3d(1,1,1);
  }
}

.section__title {
  @extend %d-flex-column;
  @extend %d-flex-centered;
  @include before;
  padding: 8px 32px 24px;
  flex-grow: 1;
  width: 100%;
  gap: 4px 0;
  z-index: 1;
  font-size: 1.1em;
  font-weight: var(--fw-bold);
  font-family: var(--font-family-title);
  letter-spacing: -2.4px;
  text-transform: uppercase;
  color: var(--color-grey);

  &:before {
    @include wh(100%);
    @include pos(-12px,8px);
    @include border(4px,var(--color-light-blue));
    background-color: var(--color-white);
    z-index: -1;
  }
}
