@use "../utils/helpers" as *;

.card {
  @include before;
  overflow: hidden;
  cursor: pointer;
  color: var(--color-white);

  &:before {
    @include pos(0);
    @include wh(100%);
    z-index: 1;
    box-shadow: 0 0 110px 0 rgba(0,0,0,.75) inset;
  }

  &:hover {
    .card__pic {
      filter: blur(8px);
    }

    .card__bg {
      transform: scale3d(.5,.5,1);
    }

    .card__header,
    .card__footer {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.card__pic {
  z-index: 2;
  transition: all .3s ease .1s;
}

.card__bg {
  @include pos(0);
  @include wh(100%);
  z-index: 2;
  background-size: 100% auto;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: var(--color-transp);
  transition: all .5s ease;
}

.card__header {
  @extend %d-flex-ai-center;
  @include pos(0,0);
  gap: 0 8px;
  padding: 24px;
  z-index: 3;
  font-size: var(--font-size-lg);
  font-family: var(--font-family-secondary);
  text-transform: lowercase;
  transform: translateX(-100%);
  opacity: 0;
  transition: opacity .3s ease, transform .3s ease .1s;
}

.card__footer {
  padding: 16px 24px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
  font-size: var(--font-size-xl);
  font-weight: var(--fw-semibold);
  font-family: var(--font-family-secondary);
  text-transform: uppercase;
  transform: translateX(100%);
  opacity: 0;
  transition: opacity .3s ease, transform .3s ease .1s;
}
