@use "../utils/helpers" as *;

.card {
  @include before;
  cursor: pointer;
  height: 100%;
  overflow: hidden;
  color: var(--color-white);
  font-family: var(--font-family-secondary);
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity .5s ease .1s, transform .5s ease .2s;

  @media #{$breakpoint-up-sm} {
    height: auto;
  }

  &:before {
    @include pos(0);
    @include wh(100%);
    z-index: 1;
    box-shadow: 0 0 110px 0 rgba(0,0,0,.75) inset;
  }

  &:hover {
    .card__pic {
      filter: blur(8px);
    }

    .card__bg {
      transform: scale3d(.5,.5,1);
    }

    .card__header,
    .card__footer {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.is-visible {
  & > .card {
    @media #{$breakpoint-down-md} {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .card {
    @media #{$breakpoint-up-md} {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.card__pic {
  height: 100%;
  z-index: 2;
  transition: all .3s ease .1s;

  @media #{$breakpoint-up-sm} {
    height: auto;
  }
}

.card__bg {
  @include pos(0);
  @include wh(100%);
  z-index: 2;
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: var(--color-transp);
  box-shadow: 0 0 110px 0 rgba(0,0,0,.75) inset;
  transition: all .5s ease;

  @media #{$breakpoint-up-sm} {
    background-size: 100% auto;
  }

  @media #{$breakpoint-up-lg} {
    box-shadow: none;
  }
}

.card__wrapper {
  &.card__wrapper_hidden {
    display: block;

    @media #{$breakpoint-up-sm} {
      display: none;
    }

    & + .card__wrapper {
      display: none;

      @media #{$breakpoint-up-sm} {
        display: block;
      }
    }
  }
}

.card__header {
  @extend %d-flex-ai-center;
  @include pos(0,0);
  gap: 0 8px;
  padding: 16px;
  z-index: 3;
  font-size: var(--font-size-lg);
  text-transform: lowercase;
  transition: opacity .3s ease, transform .3s ease .1s;

  @media #{$breakpoint-up-lg} {
    padding: 24px;
    opacity: 0;
    transform: translateX(-100%);
  }
}

.card__footer {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
  padding: 12px 16px;
  font-size: var(--font-size-xl);
  font-weight: var(--fw-semibold);
  text-transform: uppercase;
  transition: opacity .3s ease, transform .3s ease .1s;

  @media #{$breakpoint-up-md} {
    padding: 16px 24px;
    opacity: 0;
    transform: translateX(100%);
  }
}
