@use "../utils/helpers" as *;

.promo {
  @extend %d-flex-column;
  @include px(16px);
  overflow: hidden;
  flex-grow: 1;

  @media #{$breakpoint-up-lg} {
    flex-grow: 1;
    display: grid;
    gap: 0 64px;
    grid-template-columns: min-content minmax(min-content, 1fr);
    grid-template-areas:
      "aside wrapper";
  }
}

.promo__aside {
  @extend %d-flex-column;
  @include zi(1);
  @include fs-lh(var(--font-size-xxl),var(--line-height-body));
  flex-grow: 1;
  gap: 16px 0;
  padding: 16px 0;
  justify-content: space-between;

  @media #{$breakpoint-only-md} {
    padding-bottom: 8px;
  }

  @media #{$breakpoint-up-lg} {
    gap: 32px 0;
    padding: 32px 0 0;
    grid-area: aside;
  }

  .promo__subtitle {
    display: flex;

    @media #{$breakpoint-up-lg} {
      display: none;
    }
  }
}

.promo__wrapper {
  @extend %d-flex-column;

  @media #{$breakpoint-up-lg} {
    justify-content: space-between;
    gap: 32px 0;
    margin: 0 -32px 0 0;
    padding: 32px 0 0;
    grid-area: wrapper;
  }

  .promo__subtitle {
    display: none;

    @media #{$breakpoint-up-lg} {
      display: flex;
    }
  }
}

.promo__title {
  display: none;
  font-size: .78em;
  font-weight: var(--fw-xbold);
  font-family: var(--font-family-title);
  text-transform: uppercase;
  color: var(--color-white);
  animation: left .7s;

  @media #{$breakpoint-up-md} {
    font-size: 1.2em;
    color: var(--color-basic);
    text-shadow: 10px 0 rgba(0,0,0,.125);
  }

  @media #{$breakpoint-up-lg} {
    font-size: 1.4em;
    margin: -16px 0 0;
    animation: unset;
  }

  @media #{$breakpoint-up-xl} {
    font-size: 2em;
  }

  &.promo__title_type_hidden {
    display: block;

    @media #{$breakpoint-up-lg} {
      order: 1;
      visibility: hidden;
    }

    & + .promo__title {
      @media #{$breakpoint-up-lg} {
        display: block;
      }
    }
  }
}

.promo__subtitle {
  @extend %d-flex-column;
  @include fs-lh(var(--font-size-md),var(--line-height-md));
  text-transform: uppercase;
  color: var(--color-grey);
  animation: right .7s;

  @media #{$breakpoint-up-md} {
    color: var(--color-basic);
  }

  @media #{$breakpoint-up-lg} {
    font-size: var(--font-size-lg);
    animation: down 1.5s;
  }
}

.promo__bg {
  @include pos(0);
  @include wh(100%);

  @media #{$breakpoint-up-md} {
    @include wh(auto);
    position: static;
    animation: up 1.5s;
  }

  @media #{$breakpoint-only-md} {
    @include mx(-16px);
  }

  @media #{$breakpoint-up-lg} {
    padding: 32px 0 0;
  }
}

.promo__bg-pic {
  display: none;

  &.promo__bg-pic_type_hidden {
    @include wh(100%);
    display: block;
    object-fit: cover;

    @media #{$breakpoint-up-md} {
      display: none;
    }

    & + .promo__bg-pic {
      @media #{$breakpoint-up-md} {
        display: block;
      }
    }
  }
}

@keyframes left {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes right {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes down {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes up {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}
