:root {
  --font-family-body: 'Noto Sans', sans-serif;
  --font-family-title: 'Noto Sans Display Condensed', sans-serif;

  --font-size-xxl: 52px;
  --font-size-xl: 34px;
  --font-size-lg: 24px;
  --font-size-md: 20px;
  --font-size-body: 18px;
  --font-size-sm: 16px;
  --font-size-xs: 14px;
  --font-size-xxs: 12px;

  --fw-light: 300;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  --line-height-xl: 54px;
  --line-height-lg: 36px;
  --line-height-body: 24px;
  --line-height-sm: 18px;
  --line-height-xs: 16px;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-basic: #323232;
  --color-dark: #414042;
  --color-grey: #A8C8D6;
  --color-primary: #1B74B6;
  --color-secondary: #0072BC;
  --color-danger: #f00;
  --color-light-blue: #EFF4F9;
  --color-transp: rgba(0,0,0,0);
}
